{% extends 'base.html'%}

{% block title %}
    <title>Posts</title>
{% endblock %}


{% block body %}
    <h1>This is all the posts</h1>
    <hr>
    <form action="/posts" method="POST">
        Title: <input type="text" id='title' name='title'> <br>
        Author: <input type="text" id='auythor' name='author'> <br>
        Content: <input type="text" id='content' name='content'>
        <input type="submit" value='Post'>
    </form> 
    <hr>
    {% for post in posts %}
        <h1>{{ post.title}}</h1>
        <h3>{{ post.date_posted }}</h3>
        <p>{{ post.content }}</p>
        <a href="/posts/delete/{{post.id}}">Delete post</a>
        <hr>
    {% endfor %}
{% endblock %}